<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="title">
        <h2><%= @article.title %><small><%= link_to "", edit_article_path, :class => "fas fa-edit fa-lg" %>
        <%= link_to "", article_path(@article),
          :class => "fas fa-trash-alt fa-lg",
          method: :delete,
          data: { confirm: "Are you sure?" } %></small></h2>
      </div>
      <div class="post">
        <p><%= @article.content %></p>
      </div>
      <div class="image">
      </div>
    </div>
  </div>
</div>

<i><%= link_to "Back", articles_path %></i>
